body {
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
}

#wrapper {
    background:green;
    max-width: 576px;
    height: 100vh;
    overflow-y:scroll;
}

nav {
    max-width: 576px;
}

.form-sign {
    margin: auto;
    padding-top: 40px;
}

#bottom-nav img {
    max-height: 72px;
    height: 15vw;
}

