body {
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
}

#wrapper {
    max-width: 576px;
    height: 100vh;
    overflow-y:auto;
}

nav {
    max-width: 576px;
}

.form-sign {
    margin: auto;
    padding-top: 40px;
}

#bottom-nav img {
    max-height: 72px;
    height: 15vw;
}

a.lien{ 
    text-decoration: none;
    color:black;
}
a.lien:hover{ 
    text-decoration: none;
    color:black;
}

a.lien:visited{
    text-decoration: none;
    color:black;
}

.messageRecu {
    background: #f1f0f0;
    -webkit-border-radius: 10px ;
    -moz-border-radius:    10px ; 
    border-radius:         10px ; 
    margin-left:0.5em;
    float: left;
}

.messageEnvoye{
    background: #0084ff;
    -webkit-border-radius: 10px ;
    -moz-border-radius:    10px ; 
    border-radius:         10px ; 
    margin-left:15em;
    float: right;
}

.message{
    margin-top:1em;
    padding-left: 0.75em;
    display: table;
    max-width: 70%;
    margin-bottom: 1em;
}

.texteMessage{
    padding-left: 1em;
    padding-right: 1em;
    font-size: small;
    margin-bottom: 0em;
    max-width: 100%;
    word-wrap: break-word;
}

#containerWrapper{
    padding-bottom: 15vw;
}

#creer-trajet {
    padding-bottom: 20vw;
}
