<nav id="bottom-nav" class="container-fluid navbar fixed-bottom navbar-light bg-light border-top justify-content-around">
    <a href="#"><img src="img/outline-map-24px.svg" alt="outline-map"></a>
    <a href="#"><img src="img/outline-account_circle-24px.svg" alt="outline-account_circle"></a>
    <a href="#"><img src="img/outline-chat-24px.svg" alt="outline-chat"></a>
</nav>