{{>topbar}}

<div id="proposeTrajet" class="container w-75">
    <a href="http://127.0.0.1:8080/trajet/rechercher">
        <button class="btn btn-lg btn-primary btn-block mt-3">Rechercher</button>
    </a>
    <a href="http://127.0.0.1:8080/trajet/proposer">
        <button class="btn btn-lg btn-info btn-block mt-3">Proposer</button>
    </a>
</div>

{{>navbar}}