{{>topbar}}

<div id="proposeTrajet" class="container w-75">
    <a href="/3D/trajet/rechercher/">
        <button class="btn btn-lg btn-primary btn-block mt-3">Rechercher</button>
    </a>
    <a href="/3D/trajet/proposer">
        <button class="btn btn-lg btn-info btn-block mt-3">Proposer</button>
    </a>
</div>

{{>navbar}}