<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>PolyTransport</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Style sheet -->
    <link rel="stylesheet" href="../../css/style.css">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Polyfills pour le support de fetch dans les vieux navigateurs -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/es6-promise/4.0.5/es6-promise.min.js" async></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fetch/2.0.1/fetch.min.js" async></script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous" defer></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous" defer></script>

    <!-- Mustache ! -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/3.0.1/mustache.min.js" async></script>

    <!--    <script src="../js/main.js" defer="defer"></script>-->
</head>
<body class="bg-secondary">
<div id="wrapper" class="w-100 bg-light">

    <nav class="container-fluid navbar navbar-dark bg-dark">
        <span class="h1 text-light">Créer un trajet</span>
    </nav>

    <button type="button" class="ml-3 mt-3 pl-4 pr-4 btn btn-primary go-back">
        <a href="#"><img src="../../img/vectorpaint.svg" alt="go_back"></a>
    </button>

    <div id="creer-trajet" class="container w-75">
        <form class="form-sign" method="post">
            <div class="input-group">
                <label for="inputDeparture" class="sr-only">Lieu départ</label>
                <div class="input-group-prepend">
                    <span class="input-group-text">Départ</span>
                </div>
                <input type="text" id="inputDeparture" class="form-control" placeholder="Lieu départ" required autofocus>
            </div>
            <div class="input-group">
                <label for="inputArrival" class="sr-only">Lieu arrivée</label>
                <div class="input-group-prepend">
                    <span class="input-group-text">Arrivée</span>
                </div>
                <input type="text" id="inputArrival" class="form-control" placeholder="Lieu arrivée" required>
            </div>

            <label for="inputDate" class="mt-3">Date et heure de départ</label>
            <div class="input-group">
                <input type="date" id="inputDate" class="form-control" required>
                <input type="time" id="inputHour" class="form-control" required>
            </div>

            <label for="inputVoiture" class="mt-3">Modèle de voiture</label>
            <select class="form-control" id="inputVoiture" name="inputVoiture">
                {{#vehicule}}
                <option>{{modele}}</option>
                {{/véhicule}}
            </select>

            <!-- TODO: Importer les données de véhicule -->

            <label for="inputPassagers" class="mt-3">Nombre de places passagers</label>
            <input type="number" id="inputPassagers" name="inputPassagers"
                   min="1" max="10" class="form-control" value="1">

            <button class="btn btn-lg btn-primary btn-block mt-5" type="submit">Créer</button>
        </form>
    </div>

    <nav id="bottom-nav" class="container-fluid navbar fixed-bottom navbar-light bg-light border-top justify-content-around">
        <a href="#"><img src="../../img/outline-map-24px.svg" alt="outline-map"></a>
        <a href="#"><img src="../../img/outline-account_circle-24px.svg" alt="outline-account_circle"></a>
        <a href="#"><img src="../../img/outline-chat-24px.svg" alt="outline-chat"></a>
    </nav>
</div>

</body>
</html>