<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>PolyTransport</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" type="image/png" sizes="32x32" href="/public/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/public/img/favicon-16x16.png">

    <!-- Style sheet -->
    <link rel="stylesheet" href="/public/css/style.css">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Polyfills pour le support de fetch dans les vieux navigateurs -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/es6-promise/4.0.5/es6-promise.min.js" async></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fetch/2.0.1/fetch.min.js" async></script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous" defer></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous" defer></script>

    <!-- Mustache ! -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/3.0.1/mustache.min.js" async></script>

    <script src="/public/js/listetrajets.js" type="module" defer="defer"></script>
</head>
<body class="bg-secondary">
<div id="wrapper" class="w-100 bg-light">

    {{>topbar}}
    <a href="/trajet/rechercher">
        <button type="button" class="ml-3 mt-3 pl-4 pr-4 btn btn-primary go-back">
            <img src="/public/img/vectorpaint.svg" alt="go_back">
        </button>
    </a>

    <div class="containerWrapper">
        {{#message}}
        <div class="alert alert-danger" role="alert" id="alert-error">
            {{message}}
        </div>
        {{/message}}

        {{#trajets}}
        <div class="m-3">
            <div class="card">
                <div class="card-header">
                    {{conducteur.prenom}} {{conducteur.nom}} - {{prix}} <img src="/public/img/baseline-euro_symbol-24px.svg" alt="€">
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{depart.lieu}} <img src="/public/img/baseline-arrow_right_alt-24px.svg" alt="right arrow"> {{arrivee.lieu}}</h5>
                    <p class="card-text">Heure départ : {{depart.heure}} / Heure arrivée : {{arrivee.heure}}</p>
                    <p class="card-text">Nombre de places : {{nbPlaces}}</p>
                    <a href="/trajet/?id_trajet={{id}}" class="float-right">
                        <button class="btn btn-success">Détails...</button>
                    </a>
                </div>
            </div>
        </div>
        {{/trajets}}
    </div>
    {{>navbar}}

</div>

</body>
</html>