
{{>topbar}}

<a href="/3D/trajet/accueil">
    <button type="button" class="ml-3 mt-3 pl-4 pr-4 btn btn-primary go-back">
        <img src="/3D/public/img/vectorpaint.svg" alt="go_back">
    </button>
</a>


{{#messageValide}}<div  class="alert alert-success">{{messageValide}}</div>{{/messageValide}}
{{#messageErreur}}<div  class="alert alert-danger">{{messageErreur}}</div>{{/messageErreur}}

<div id="creer-trajet" class="container w-75">
    <form class="form-sign" onsubmit="return false;">
        <div class="input-group">
            <label for="inputDeparture" class="sr-only">Lieu départ</label>
            <div class="input-group-prepend">
                <span class="input-group-text">Départ</span>
            </div>
            <input type="text" id="inputDeparture" class="form-control" placeholder="Lieu départ" required autofocus>
        </div>
        <div class="input-group">
            <label for="inputArrival" class="sr-only">Lieu arrivée</label>
            <div class="input-group-prepend">
                <span class="input-group-text">Arrivée</span>
            </div>
            <input type="text" id="inputArrival" class="form-control" placeholder="Lieu arrivée" required>
        </div>

        <label for="inputDate" class="mt-3">Heure de départ</label>
        <div class="input-group">
            <input type="time" id="inputHour" class="form-control" required>
        </div>

        <label for="inputPassagers" class="mt-3">Nombre de places passagers</label>
        <input type="number" id="inputPassagers" name="inputPassagers"
               min="1" max="10" class="form-control" value="1">

        <label for="inputPrix" class="mt-3">Prix <img src="/3D/public/img/baseline-euro_symbol-24px.svg" alt="€"></label>
        <input type="number" id="inputPrix" name="inputPrix"
               min="1" class="form-control" value="1">

        <button class="btn btn-lg btn-primary btn-block mt-5" id="proposer-btn" type="submit">Proposer</button>
    </form>
</div>

{{>navbar}}
