
{{>topbar}}
<a href="/3D/trajet/accueil">
    <button type="button" class="ml-3 mt-3 pl-4 pr-4 btn btn-primary go-back">
        <img src="/3D/public/img/vectorpaint.svg" alt="go_back">
    </button>
</a>

<div id="rechercher-trajet" class="container w-75">
    <form class="form-sign" onsubmit='return false;'>
        <label for="inputDeparture" class="sr-only">Lieu départ</label>
        <input type="text" id="inputDeparture" class="form-control" placeholder="Lieu départ" required autofocus>
        <label for="inputArrival" class="sr-only">Lieu arrivée</label>
        <input type="text" id="inputArrival" class="form-control mt-1" placeholder="Lieu arrivée" required>

        <!--<label for="inputDate" class="mt-3">Date de départ</label>
        <input type="date" id="inputDate" class="form-control" required>-->

        <label for="inputHour" class="mt-3">Heure de départ</label>
        <input type="time" id="inputHour" class="form-control" required>

        <button class="btn btn-lg btn-primary btn-block mt-3" id="search-btn" type="submit">Rechercher</button>
    </form>
</div>

{{>navbar}}