<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>PolyTransport</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" type="image/png" sizes="32x32" href="/public/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/public/img/favicon-16x16.png">

    <!-- Style sheet -->
    <link rel="stylesheet" href="/public/css/style.css">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Polyfills pour le support de fetch dans les vieux navigateurs -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/es6-promise/4.0.5/es6-promise.min.js" async></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fetch/2.0.1/fetch.min.js" async></script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous" defer></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous" defer></script>

    <!-- Mustache ! -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/3.0.1/mustache.min.js" async></script>

       <script src="/public/js/profil.js" type="module" defer="defer"></script>
</head>
<body class="bg-secondary">
<div id="wrapper" class="w-100 bg-light">

    {{>topbar}}

    <div class="containerWrapper">
        <div id="profil" class="container w-75">
            <form class="form-sign" onsubmit="return false;">
                <h1 class="h3 mb-3 font-weight-normal">Profil</h1>
                {{#message}}<div  class="alert alert-warning">{{message}}</div>{{/message}}
                <div class="m-3 row">
                    <img class="col-3" src="http://127.0.0.1:8080/public/img/baseline-account_circle-24px.svg" alt="photo de profil">
                    <div class="col row">

                        <label for="inputNameM" class="col font-weight-bold">Nom</label>
                        <input type="text" id="inputNameM" class="col form-control" placeholder="Nom de l'user modifiable" value="{{Nom}}"
                            required>

                        <label for="inputPrenomM" class="col font-weight-bold">Prénom</label>
                        <input type="text" id="inputPrenomM" class="col form-control" value="{{Prenom}}"
                            placeholder="Prénom de l'user modifiable" required>

                    </div>
                </div>
                <div>
                    <h4 class="container-fluid border-bottom font-weight-bold">Informations</h4>
                    <div class="m-3">
                        <span><label for="inputDdnM">Date de naissance</label><input class="col form-control" type="date"
                                                                                    id="inputDdnM" 
                                                                                    max="2018-01-01"
                                                                                    value="{{DDN}}" ></span>
                        <span><label for="inputPhoneM">Numéro de téléphone</label><input type="tel" id="inputPhoneM"
                                                                                        class="col form-control"
                                                                                        placeholder="N° de l'user"
                                                                                        pattern="[0-9]{10}" value="{{Telephone}}"
                                                                                        required></span>
                        <span><label for="inputEmailM">Adresse email</label><input type="email" id="inputEmailM"
                                                                                class="col form-control"
                                                                                placeholder="Email user" value="{{Mail}}" required></span>
                    </div>
                </div>

                <h4 class="container-fluid border-bottom font-weight-bold">Véhicule</h4>
                <div class="row">
                    <img class="col-3 image" alt="icône de voiture" src='http://127.0.0.1:8080/public/img/baseline-directions_car-24px.svg'/>
                    <input type="text" id="inputVoiture" class="col form-control" placeholder="Clio 1 - FIDJI" disabled>
                    <input type="text" id="inputMarque" class="col form-control" placeholder="Marque" value="{{Marque}}" >
                    <input type="text" id="inputModele" class="col form-control" placeholder="Modèle" value="{{Modele}}" >
                    <input type="text" id="inputAnnee" class="col form-control" placeholder="Année" value="{{Annee}}" pattern="^19[0-9][0-9]$|^20[0|1][0-9]$" >
                </div>

                <button class="btn btn-lg btn-primary btn-block mt-3" type="submit">Valider modifications</button>

            </form>
        </div>
    </div>
    {{>navbar}}
</div>

</body>
</html>